.image {
  max-width: 200px;
  max-height: 300px;
  image-resolution: 10%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}
.centerD{
  text-align:justify;
}

.centerB{
  text-align: center;
}

.cardEvent {
  margin-top: 40px
}

.buttonEvent{
  background-color: #2DC5FA;
  margin-bottom: 40px;
  margin-left: 20px;
}

.buttonEventNew {
  background-color: #2DC5FA;
  margin-bottom: 40px;
  margin-left: 20px;
}
