.art{
    margin: 3%;
    position: relative;
}

h3 {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }